$dark-blue: #1C2541;
$light-blue: #647AA3;
$purple: #B2AEED;
$yellow: #EDC65F;
$red: #8A2525;
$red-bright: #c05858;
$sage-green: #9CAF88;
$warm-beige: #E9DCC9;
$deep-teal: #2A5D67;
$vibrant-coral: #EE6C4D;
$dark-charcoal: #293241;
$soft-mint: #98C1D9;
$bright-white: #E0FBFC;
$soft-purple: #9684D3;