@use 'sass:map';
@use '../variables/theme' as theme;
@use '../variables/typography' as typography;
@use '../variables/sizing' as sizing;
@use '../variables/colors' as colors;

.button-primary {
    background-color: map.get(theme.$theme, 'primary');
    color: colors.$bright-white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: map.get(sizing.$font-sizes, 'md');
    border-radius: 4px;
    cursor: pointer;
}
.button-primary:hover {
    background-color: map.get(theme.$theme, 'info');
    transition: background-color 0.3s ease;
}

.button-secondary {
    background-color: map.get(theme.$theme, 'secondary');
    color: colors.$dark-blue;
    border: none;
    padding: 0.75rem 2rem;
    font-size: map.get(sizing.$font-sizes, 'md');
    font-weight: typography.$fw-semibold;
    border-radius: 4px;
    cursor: pointer;
}

.button-secondary:hover {
    background-color: colors.$soft-purple;
    transition: background-color 0.3s ease;
}

.button-warning {
    background-color: map.get(theme.$theme, 'danger');
    color: colors.$bright-white;
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: map.get(sizing.$font-sizes, 'md');
    border-radius: 4px;
    cursor: pointer;
}

.button-warning:hover {
    background-color: colors.$red-bright;
    transition: background-color 0.3s ease;
}
