@use 'sass:map';
@use '../variables/sizing' as sizing;

.container {
  width: map.get(sizing.$container-sizes,'expansive');
  margin: 0 auto;
  padding: map.get(sizing.$space-scale, '4');
}

section {
  padding-top: map.get(sizing.$space-scale, '3');
  padding-bottom: map.get(sizing.$space-scale, '3');
}   