@use 'sass:map';
@use '../variables/theme' as theme;
@use '../variables/sizing' as sizing;
@use "../variables/colors" as colors;
@use "../variables/typography" as typography;

// ------------------------------
// Base list styles
// ------------------------------
ul,
ol {
  margin: map.get(sizing.$space-scale, md) 0;
  padding-left: map.get(sizing.$space-scale, lg);
  font-family: typography.$font-family-body;
  line-height: typography.$line-height-base;
  color: colors.$dark-charcoal;
}

// ------------------------------
// Unordered List (UL)
// ------------------------------
ul {
  list-style-type: disc;

  li {
    margin-bottom: map.get(sizing.$space-scale, xs);

    &::marker {
      color: colors.$deep-teal;
      font-size: 1.1em;
    }
  }
}

// ------------------------------
// Ordered List (OL)
// ------------------------------
ol {
  list-style-type: decimal;

  li {
    margin-bottom: map.get(sizing.$space-scale, xs);

    &::marker {
      color: colors.$vibrant-coral;
      font-weight: typography.$fw-semibold;
    }
  }
}

// ------------------------------
// Nested lists
// ------------------------------
ul ul,
ol ol {
  margin-top: map.get(sizing.$space-scale, xs);
  margin-bottom: map.get(sizing.$space-scale, xs);
  padding-left: map.get(sizing.$space-scale, lg);

  li::marker {
    color: colors.$sage-green;
  }
}

// ------------------------------
// Utility Classes
// ------------------------------
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: map.get(sizing.$space-scale, md);
    font-weight: typography.$fw-medium;

    &:last-child {
      margin-right: 0;
    }
  }
}

.list-bordered {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid colors.$light-blue;

  li {
    border-bottom: 1px solid colors.$light-blue;
    padding: map.get(sizing.$space-scale, sm) 0;
  }
}

.list-steps {
  counter-reset: step;

  li {
    counter-increment: step;
    position: relative;
    margin-bottom: map.get(sizing.$space-scale, md);
    padding-left: map.get(sizing.$space-scale, lg);
    font-weight: typography.$fw-medium;

    &::before {
      content: counter(step);
      position: absolute;
      left: 0;
      background-color: colors.$deep-teal;
      color: colors.$bright-white;
      font-weight: typography.$fw-bold;
      border-radius: map.get(sizing.$radius, circle);
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
