@use '../variables/index.scss' as variables;

@use "./headings";
@use "./lists";
@use "./buttons";
@use "./forms";
@use "./tables";
@use "./utilities";
@use "./flex";
@use "./align";
@use "./justify";
@use "./images";




body {
    font-family: variables.$font-family-body;   
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

// .code-example {
//     font-family: variables.$font-code;
// }